.profile_sidebar {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.profile__info {
  display: flex;
  width: 240px;
  gap: 16px;
  align-items: center;
}

.profile__avatar {
  width: 56px;
  height: 56px;
  border-radius: 56px;
}

.profile__name {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}

.profile__buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.profile__button {
  background-color: transparent;
  border: none;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

.profile__button:hover {
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

@media (max-width: 768px) {
  .profile_sidebar {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  .profile__info {
    gap: 10px;
    flex-direction: column;
    align-items: center;
  }
}
